@keyframes html_bf {
  0% {
    background-color: #ff6c1daf;
  }
  50% {
    background-color: #f55200af;
  }
  100% {
    background-color: #ff6c1daf;
  }
}
@keyframes html_af {
  0% {
    background-color: #f55200af;
  }
  50% {
    background-color: #ff6c1daf;
  }
  100% {
    background-color: #f55200af;
  }
}
@keyframes css_bf {
  0% {
    background-color: #003b7aaf;
  }
  50% {
    background-color: #0fabffaf;
  }
  100% {
    background-color: #003b7aaf;
  }
}
@keyframes css_af {
  0% {
    background-color: #0fabffaf;
  }
  50% {
    background-color: #003b7aaf;
  }
  100% {
    background-color: #0fabffaf;
  }
}
@keyframes js_bf {
  0% {
    background-color: #ac8f00af;
  }
  50% {
    background-color: #fed81daf;
  }
  100% {
    background-color: #ac8f00af;
  }
}
@keyframes js_af {
  0% {
    background-color: #fed81daf;
  }
  50% {
    background-color: #ac8f00af;
  }
  100% {
    background-color: #fed81daf;
  }
}
@keyframes react_bf {
  0% {
    background-color: #006e99af;
  }
  50% {
    background-color: #61dafbaf;
  }
  100% {
    background-color: #006e99af;
  }
}
@keyframes react_af {
  0% {
    background-color: #61dafbaf;
  }
  50% {
    background-color: #006e99af;
  }
  100% {
    background-color: #61dafbaf;
  }
}

@keyframes php_bf {
  0% {
    background-color: #8993beaf;
  }
  50% {
    background-color: #232531af;
  }
  100% {
    background-color: #8993beaf;
  }
}
@keyframes php_af {
  0% {
    background-color: #232531af;
  }
  50% {
    background-color: #8993beaf;
  }
  100% {
    background-color: #232531af;
  }
}

@keyframes laravel_bf {
  0% {
    background-color: #ff3c39af;
  }
  50% {
    background-color: #e02828af;
  }
  100% {
    background-color: #ff3c39af;
  }
}
@keyframes laravel_af {
  0% {
    background-color: #e02828af;
  }
  50% {
    background-color: #ff3c39af;
  }
  100% {
    background-color: #e02828af;
  }
}

@keyframes wp_bf {
  0% {
    background-color: #74bbe7af;
  }
  50% {
    background-color: #005580af;
  }
  100% {
    background-color: #74bbe7af;
  }
}
@keyframes wp_af {
  0% {
    background-color: #005580af;
  }
  50% {
    background-color: #74bbe7af;
  }
  100% {
    background-color: #005580af;
  }
}

@keyframes ps_bf {
  0% {
    background-color: #28253aaf;
  }
  50% {
    background-color: #37c6ffaf;
  }
  100% {
    background-color: #28253aaf;
  }
}
@keyframes ps_af {
  0% {
    background-color: #37c6ffaf;
  }
  50% {
    background-color: #28253aaf;
  }
  100% {
    background-color: #37c6ffaf;
  }
}

@keyframes ai_bf {
  0% {
    background-color: #FF7E1Baf;
  }
  50% {
    background-color: #41322Aaf;
  }
  100% {
    background-color: #FF7E1Baf;
  }
}
@keyframes ai_af {
  0% {
    background-color: #41322Aaf;
  }
  50% {
    background-color: #FF7E1Baf;
  }
  100% {
    background-color: #41322Aaf;
  }
}

@keyframes id_bf {
  0% {
    background-color: #EB43A3af;
  }
  50% {
    background-color: #412534af;
  }
  100% {
    background-color: #EB43A3af;
  }
}
@keyframes id_af {
  0% {
    background-color: #412534af;
  }
  50% {
    background-color: #EB43A3af;
  }
  100% {
    background-color: #412534af;
  }
}

@keyframes xd_bf {
  0% {
    background-color: #FF2BC2af;
  }
  50% {
    background-color: #2E001Eaf;
  }
  100% {
    background-color: #FF2BC2af;
  }
}
@keyframes xd_af {
  0% {
    background-color: #2E001Eaf;
  }
  50% {
    background-color: #FF2BC2af;
  }
  100% {
    background-color: #2E001Eaf;
  }
}

@keyframes hp_animate {
  0% {
    background-color: #d9c1ff;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #d9c1ff;
  }
}
@keyframes rp_bar {
  0% {
    color: #24004e;
  }
  50% {
    color: #a800b4;
  }
  100% {
    color: #5e00c8;
  }
}

@keyframes moveSvg {
  0% {
    offset-distance: 0%;
  }

  25% {
    background: #6c6ce5;
  }

  75% {
    background: #ffd15c;
  }

  100% {
    offset-distance: 100%;
  }
}

@keyframes rotate {
  50% {
    transform: rotate(360deg);
    margin-left: 0;
  }

  50.0001%,
  100% {
    margin-left: -60px;
  }
}

@keyframes move {
  0%,
  50% {
    left: -8px;
  }

  25% {
    background: #ffd15c;
  }

  75% {
    background: #583d72;
  }

  50.0001%,
  100% {
    left: auto;
    right: -8px;
  }
}

@keyframes drop1 {
  100% {
    transform: translate(32px, 8px) scale(0);
  }
}

@keyframes drop2 {
  0% {
    transform: translate(0, 0) scale(0.9);
  }

  100% {
    transform: translate(32px, 0px) scale(0);
    -webkit-transform: translate(32px, 0px) scale(0);
    -moz-transform: translate(32px, 0px) scale(0);
    -ms-transform: translate(32px, 0px) scale(0);
    -o-transform: translate(32px, 0px) scale(0);
  }
}

@keyframes loading {
  0% {
    transform: translateY(0px);
    color: #31326f;
  }
  50% {
    transform: translateY(50px);
    color: #ff4c60;
  }
  100% {
    transform: translateY(0px);
    color: #31326f;
  }
}
@keyframes loading_icon {
  0% {
    transform: translateY(0px);
    color: #861cff;
  }
  50% {
    transform: translateY(25px);
    color: #c900d6;
  }
  100% {
    transform: translateY(0px);
    color: #861cff;
  }
}