@import url("keyframes.css");
/* =============================================
                Default CSS
============================================= */
* {
  padding: 0;
  margin: 0;
}
h4,h1 {
  font-family: "OpenSans", sans-serif;
  margin: 0;
}
:root {
  --primaryColor: #7740a9;
  --hoverColor: #ffffff;
  --defaulth4: rgb(16, 0, 31);
  --defaulth1: rgb(17, 1, 32);
}
/*=================================================================
                    PRELOADER                              
=================================================================*/
.infinity {
  width: 120px;
  height: 60px;
  position: relative;
}

.infinity div,
.infinity span {
  position: absolute;
}

.infinity div {
  top: 0;
  left: 50%;
  width: 60px;
  height: 60px;
  animation: rotate 6.9s linear infinite;
}

.infinity div span {
  left: -8px;
  top: 50%;
  margin: -8px 0 0 0;
  width: 16px;
  height: 16px;
  display: block;
  background: #ff4c60;
  box-shadow: 2px 2px 8px rgba(255, 76, 96, 0.09);
  border-radius: 50%;
  transform: rotate(90deg);
  animation: move 6.9s linear infinite;
}

.infinity div span:before,
.infinity div span:after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: inherit;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
  box-shadow: inherit;
}

.infinity div span:before {
  animation: drop1 0.8s linear infinite;
}

.infinity div span:after {
  animation: drop2 0.8s linear infinite 0.4s;
}

.infinity div:nth-child(2) {
  animation-delay: -2.3s;
}

.infinity div:nth-child(2) span {
  animation-delay: -2.3s;
}

.infinity div:nth-child(3) {
  animation-delay: -4.6s;
}

.infinity div:nth-child(3) span {
  animation-delay: -4.6s;
}

.infinityChrome {
  width: 128px;
  height: 60px;
}

.infinityChrome div {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #ff4c60;
  box-shadow: 2px 2px 8px rgba(255, 76, 96, 0.09);
  border-radius: 50%;
  animation: moveSvg 6.9s linear infinite;
  -webkit-filter: url(#goo);
  filter: url(#goo);
  transform: scaleX(-1);
  offset-path: path(
    "M64.3636364,29.4064278 C77.8909091,43.5203348 84.4363636,56 98.5454545,56 C112.654545,56 124,44.4117395 124,30.0006975 C124,15.5896556 112.654545,3.85282763 98.5454545,4.00139508 C84.4363636,4.14996252 79.2,14.6982509 66.4,29.4064278 C53.4545455,42.4803627 43.5636364,56 29.4545455,56 C15.3454545,56 4,44.4117395 4,30.0006975 C4,15.5896556 15.3454545,4.00139508 29.4545455,4.00139508 C43.5636364,4.00139508 53.1636364,17.8181672 64.3636364,29.4064278 Z"
  );
}

.infinityChrome div:before,
.infinityChrome div:after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: inherit;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
  box-shadow: inherit;
}

.infinityChrome div:before {
  animation: drop1 0.8s linear infinite;
}

.infinityChrome div:after {
  animation: drop2 0.8s linear infinite 0.4s;
}

.infinityChrome div:nth-child(2) {
  animation-delay: -2.3s;
}

.infinityChrome div:nth-child(3) {
  animation-delay: -4.6s;
}

.wrapper {
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 35px;
  margin-left: -30px;
}
.circle {
  display: inline-block;
  border-radius: 50%;
  animation: loading 1.5s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
  transform-origin: bottom center;
  position: relative;
  color: black;
  font-size: 28px;
  font-weight: 800;
  transition-property: color;
  transition: 0.2s all ease-in-out;
}

.circle-1 {
  animation-delay: 0.1s;
}
.circle-2 {
  animation-delay: 0.2s;
}
.circle-3 {
  animation-delay: 0.3s;
}
.circle-4 {
  animation-delay: 0.4s;
}
.circle-5 {
  animation-delay: 0.5s;
}
.circle-6 {
  animation-delay: 0.6s;
}
.circle-7 {
  animation-delay: 0.7s;
}
.circle-8 {
  animation-delay: 0.8s;
}

#preloader {
  background: #353353;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1031;
}

#preloader .outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#preloader.light {
  background: #f9f9ff;
}

.goo-outer {
  display: none;
}
/* =============================================
                Scrollbar Style
============================================= */
body::-webkit-scrollbar {
  width: 0.6em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #390077 0%, #c900d6 95%);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* =============================================
                Banner Section
============================================= */
.banner {
  background-color: #fdfbff;
  height: 100vh;
  position: relative;
}
.bnr-bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
/* =============================================
                Top Bar
============================================= */
.tpr {
  padding: 8px 0px;
}
.contact-p {
  font-size: 14px;
  font-weight: 500;
  font-family: "OpenSans", sans-serif;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0;
}
.contact-p-span {
  font-weight: 700;
}
.social-media {
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
/* =============================================
                Menu Bar
============================================= */
.menu-navbar {
  background-color: #f6f3ff;
}
.navbar-back .container {
  padding: 0 !important;
}
.navbar-back {
  padding: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* =============================================
            Banner Content Area
============================================= */
.content-body {
  position: relative;
}
.bnr-rw {
  min-height: 75vh;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.bnr-content {
  position: relative;
  padding: 40px;
  box-shadow: 0 0 12px 0px #efe5ff;
  border-radius: 10px;
}
.bn-title {
  color: var(--defaulth4);
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}
.bn-name {
  background: linear-gradient(to bottom, #390077 0%, #c900d6 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  transition-property: color;
  transition: 0.2s all ease-in-out;
  transform-origin: bottom center;
  position: relative;
}
.bnr-btns {
  margin-top: 25px;
}
.bnr-btns ul {
  display: flex;
  list-style: none;
}
.bnr-btns ul li {
  margin-right: 25px;
}
.btn-custom {
  display: inline-block;
  background: linear-gradient(to right, #390077 0%, #c900d6 51%, #390077 100%);
  color: #fff;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 38px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  background-size: 200% auto;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
}

.btn-custom:hover {
  background-position: right center;
  color: #fff;
}
/* =============================================
            Banner Content Scrool Icon
============================================= */
.scroll-icon {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translate(0%, 0%);
}
.scroll-icon .abt-me {
  text-decoration: none;
  color: #c900d6;
  /* box-shadow: 0 0 4px 0px #39007785; */
  padding: 15px 8px;
  border-radius: 15px;
  position: relative;
}
.scroll-icon .abt-me::before {
  text-decoration: none;
  position: absolute;
  content: "\f103";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  animation: loading_icon 3s linear infinite;
  top: 0;
  left: 3px;
  margin-top: 2px;
}

/* =============================================
                About Me Section
============================================= */
.abt{
  padding: 80px 0px;
  background: #fff;
}
.abt-img{
  text-align: center;
  margin: auto;
}
.abt-con{
  min-height: 300px;
  align-items: center;
  text-align: left;
}
.title{
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  font-variant: small-caps;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  color: #15002c;
}
.title::before, .border-bar::before{
  position: absolute;
  content: '';
  width: 10%;
  height: 4px;
  background: #390077;
  right: 48%;
  top: 52%;
  animation: abt_bar 3s linear infinite;
  -webkit-animation: abt_bar 3s linear infinite;
}
.title::after, .border-bar::after{
  position: absolute;
  content: '';
  width: 18%;
  height: 4px;
  background: #390077;
  right: 40%;
  bottom: 21%;
  animation: abt_bar 3s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
  -webkit-animation: abt_bar 3s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
}

.desc{
  font-size: 18px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 500;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

/* =============================================
                Skills Section
============================================= */
.skills-body{
  padding: 70px 0px;
}
.skills-body .title{
  text-align: center;
  font-size: 58px;
}
.skills-body .title::before{
  background: transparent!important;
  width: 100%;
  height: 100%;
  content: 'my experience areas';
  font-size: 74px;
  top: 0%;
  left: 20%;
  transform: translate(-20%, -20%);
  font-family: 'OpenSans Bold',sans-serif;
  color: #24004ea6;
  opacity: 0.1;
  -webkit-transform: translate(-20%, -20%);
  -moz-transform: translate(-20%, -20%);
  -ms-transform: translate(-20%, -20%);
  -o-transform: translate(-20%, -20%);
}
.skills-body .title::after{
  content: '';
  display: none;
}
.frontend-skill,.backend-skill,.graphic-design{
  margin-top: 35px;
}
.skill-header{
  font-size: 38px;
  font-family: 'Poppins',sans-serif;
  font-weight: bold;
  font-style: normal;
  font-variant: small-caps;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  text-rendering: optimizeSpeed;
}
.skill-box{
  padding: 25px;
  box-shadow: 0 0 15px 4px #39006712;
  border-radius: 8px;
  position: relative;
}
.skill-box .second{
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: block;
  position: relative;
}
.skill-box .second img{
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(50%,40%);
  text-align: center;
}
.backend-skill .skill-box .second img{
  transform: translate(50%,11%);
}
.skill-box .second h4{
  position: relative;
  display: block;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Open Sans',sans-serif;
}
.skill-desc{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.4s all ease-in-out;
  z-index: 99;
  width: 100%;
}
.skill-desc .sk-p{
  margin: 0;
  font-size: 18px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}
.skill-box:hover .skill-desc{
  opacity: 1;
}
.skill-box::before {
  content: '';
  width: 100%;
  height: 0%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.7s all ease-in-out;
  z-index: 9;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.skill-box::after {
  content: '';
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: 0.7s all ease-in-out;
  z-index: 9;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.skill-box:hover::before{
  opacity: 1;
  height: 50%;
}
.skill-box:hover::after{
  opacity: 1;
  height: 50%;
}

/* GraphicDesign BG COLORs */
.ps::before{
  background-color: #37c6ffaf;
  animation: ps_bf 3s linear infinite;
  -webkit-animation: ps_bf 3s linear infinite;
}
.ps::after{
  background-color: #28253aaf;
  animation: ps_af 3s linear infinite;
  -webkit-animation: ps_af 3s linear infinite;
}
.ai::before{
  background-color: #41322Aaf;
  animation: ai_bf 3s linear infinite;
  -webkit-animation: ai_bf 3s linear infinite;
}
.ai::after{
  background-color: #FF7E1Baf;
  animation: ai_af 3s linear infinite;
  -webkit-animation: ai_af 3s linear infinite;
}
.xd::before{
  background-color: #FF2BC2af;
  animation: xd_bf 3s linear infinite;
  -webkit-animation: xd_bf 3s linear infinite;
}
.xd::after{
  background-color: #2E001Eaf;
  animation: xd_af 3s linear infinite;
  -webkit-animation: xd_af 3s linear infinite;
}
.id::before{
  background-color: #412534af;
  animation: id_bf 3s linear infinite;
  -webkit-animation: id_bf 3s linear infinite;
}
.id::after{
  background-color: #EB43A3af;
  animation: id_af 3s linear infinite;
  -webkit-animation: id_af 3s linear infinite;
}

/* FRONTEND BG COLORs */
.html::before{
  background-color: #f55200af;
  animation: html_bf 3s linear infinite;
}
.html::after{
  background-color: #ff7930af;
  animation: html_af 3s linear infinite;
}
.css::before{
  background-color: #005cbfaf;
  animation: css_bf 3s linear infinite;
  -webkit-animation: css_bf 3s linear infinite;
}
.css::after{
  background-color: #0fabffaf;
  animation: css_af 3s linear infinite;
  -webkit-animation: css_af 3s linear infinite;
}
.js::before{
  background-color: #FED81Daf;
  animation: js_bf 3s linear infinite;
  -webkit-animation: js_bf 3s linear infinite;
}
.js::after{
  background-color: #ac8f00af;
  animation: js_af 3s linear infinite;
  -webkit-animation: js_af 3s linear infinite;
}
.react::before{
  background-color: #61DAFBaf;
  animation: react_bf 3s linear infinite;
}
.react::after{
  background-color: #006e99af;
  animation: react_af 3s linear infinite;
}

/* backend skills */
.php::before{
  background-color: #8993BEaf;
  animation: php_bf 3s linear infinite;
  -webkit-animation: php_bf 3s linear infinite;
}
.php::after{
  background-color: #232531af;
  animation: php_af 3s linear infinite;
  -webkit-animation: php_af 3s linear infinite;
}
.laravel::before{
  background-color: #ff3c39af;
  animation: laravel_bf 3s linear infinite;
  -webkit-animation: laravel_bf 3s linear infinite;
}
.laravel::after{
  background-color: #E02828af;
  animation: laravel_af 3s linear infinite;
  -webkit-animation: laravel_af 3s linear infinite;
}
.wp::before{
  background-color: #74BBE7af;
  animation: wp_bf 3s linear infinite;
  -webkit-animation: wp_bf 3s linear infinite;
}
.wp::after{
  background-color: #005580af;
  animation: wp_af 3s linear infinite;
  -webkit-animation: wp_af 3s linear infinite;
}

/* =============================================
            HAPYY CUSTOMERS SECTION
============================================= */
.hp-counts-body{
  padding: 80px 0px;
  background-image: url(../images/LOGOS/pexels-tranmautritam-285814.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000915e3;
  background-blend-mode: overlay;
  min-height: 100px;
}
.hp-box{
  display: flex;
  justify-content: start;
  align-items: center;
  margin: auto;
}
.hp-icon{
  margin-right: 15px;
  padding: 15px;
  max-width: 25%;
  background: #d9c1ff;
  border-radius: 5px;
  animation: hp_animate 2s linear infinite;
  -webkit-animation: hp_animate 2s linear infinite;
}
.hp-count-title{
  margin: 0;
  font-size: 24px;
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-transform: capitalize;
  text-overflow: clip;
  color: white;
}
.hp-count{
  margin: 0;
  font-size: 34px;
  font-family: 'Poppins',sans-serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-transform: capitalize;
  text-overflow: clip;
  color: white;
}

/* =============================================
            RECENT CLIENTS SECTION
============================================= */
.recent-projects{
  padding: 70px 0px;
}
.recent-projects .title::after{
  display: none;
}
.recent-projects .title::before{
  background: transparent!important;
  width: 100%;
  height: 100%;
  content: 'my latest portfolio';
  font-size: 74px;
  top: 0%;
  left: 20%;
  transform: translate(-20%, -20%);
  font-family: 'OpenSans Bold',sans-serif;
  color: #24004ea6;
  opacity: 0.1;
  -webkit-transform: translate(-20%, -20%);
  -moz-transform: translate(-20%, -20%);
  -ms-transform: translate(-20%, -20%);
  -o-transform: translate(-20%, -20%);
}
.recent-projects .title{
  text-align: left;
  color: #24004e;
}
.border-bar{
  position: relative;
}
.border-bar::before{
  left: 0%;
  top: 45%;
}
.border-bar::after{
  right: 73%;
  top: 45%;
  width: 10%;
}
.flex-list{
  display: flex;
  list-style: none;
  align-items: center;
  margin: auto;
  justify-content: start;
}
.flex-list li{
  margin: 5px;
  font-size: 18px;
  animation: rp_bar 3s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
  -webkit-animation: rp_bar 3s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
}
.flex-list li:first-child, .flex-list li:last-child{
  font-size: 14px;
}
.flex-list li:first-child{
  padding-left: 10%;
}
.filter{
  padding-top: 25px;
  padding-bottom: 25px;
}
.filter-btns{
  justify-content: end;
  align-items: center;
  text-align: right;
  margin: 20px 0px;
}
.btn-filter{
  font-size: 18px;
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  color: #15002c;
  box-shadow: 0 0 10px 0px #15002c40;
  margin-left: 15px;
}