/* =============================================
                Default CSS
============================================= */
* {
  padding: 0;
  margin: 0;
}
h4,
h1 {
  font-family: "OpenSans", sans-serif;
  margin: 0;
}
:root {
  --primaryColor: #7740a9;
  --hoverColor: #ffffff;
  --defaulth4: rgb(16, 0, 31);
  --defaulth1: rgb(17, 1, 32);
}
/*=================================================================
                    PRELOADER                              
=================================================================*/
.infinity {
  width: 120px;
  height: 60px;
  position: relative;
}

.infinity div,
.infinity span {
  position: absolute;
}

.infinity div {
  top: 0;
  left: 50%;
  width: 60px;
  height: 60px;
  animation: rotate 6.9s linear infinite;
}

.infinity div span {
  left: -8px;
  top: 50%;
  margin: -8px 0 0 0;
  width: 16px;
  height: 16px;
  display: block;
  background: #ff4c60;
  box-shadow: 2px 2px 8px rgba(255, 76, 96, 0.09);
  border-radius: 50%;
  transform: rotate(90deg);
  animation: move 6.9s linear infinite;
}

.infinity div span:before,
.infinity div span:after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: inherit;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
  box-shadow: inherit;
}

.infinity div span:before {
  animation: drop1 0.8s linear infinite;
}

.infinity div span:after {
  animation: drop2 0.8s linear infinite 0.4s;
}

.infinity div:nth-child(2) {
  animation-delay: -2.3s;
}

.infinity div:nth-child(2) span {
  animation-delay: -2.3s;
}

.infinity div:nth-child(3) {
  animation-delay: -4.6s;
}

.infinity div:nth-child(3) span {
  animation-delay: -4.6s;
}

.infinityChrome {
  width: 128px;
  height: 60px;
}

.infinityChrome div {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #ff4c60;
  box-shadow: 2px 2px 8px rgba(255, 76, 96, 0.09);
  border-radius: 50%;
  animation: moveSvg 6.9s linear infinite;
  -webkit-filter: url(#goo);
  filter: url(#goo);
  transform: scaleX(-1);
  offset-path: path(
    "M64.3636364,29.4064278 C77.8909091,43.5203348 84.4363636,56 98.5454545,56 C112.654545,56 124,44.4117395 124,30.0006975 C124,15.5896556 112.654545,3.85282763 98.5454545,4.00139508 C84.4363636,4.14996252 79.2,14.6982509 66.4,29.4064278 C53.4545455,42.4803627 43.5636364,56 29.4545455,56 C15.3454545,56 4,44.4117395 4,30.0006975 C4,15.5896556 15.3454545,4.00139508 29.4545455,4.00139508 C43.5636364,4.00139508 53.1636364,17.8181672 64.3636364,29.4064278 Z"
  );
}

.infinityChrome div:before,
.infinityChrome div:after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: inherit;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
  box-shadow: inherit;
}

.infinityChrome div:before {
  animation: drop1 0.8s linear infinite;
}

.infinityChrome div:after {
  animation: drop2 0.8s linear infinite 0.4s;
}

.infinityChrome div:nth-child(2) {
  animation-delay: -2.3s;
}

.infinityChrome div:nth-child(3) {
  animation-delay: -4.6s;
}

@keyframes moveSvg {
  0% {
    offset-distance: 0%;
  }

  25% {
    background: #6c6ce5;
  }

  75% {
    background: #ffd15c;
  }

  100% {
    offset-distance: 100%;
  }
}

@keyframes rotate {
  50% {
    transform: rotate(360deg);
    margin-left: 0;
  }

  50.0001%,
  100% {
    margin-left: -60px;
  }
}

@keyframes move {
  0%,
  50% {
    left: -8px;
  }

  25% {
    background: #ffd15c;
  }

  75% {
    background: #583d72;
  }

  50.0001%,
  100% {
    left: auto;
    right: -8px;
  }
}

@keyframes drop1 {
  100% {
    transform: translate(32px, 8px) scale(0);
  }
}

@keyframes drop2 {
  0% {
    transform: translate(0, 0) scale(0.9);
  }

  100% {
    transform: translate(32px, 0px) scale(0);
    -webkit-transform: translate(32px, 0px) scale(0);
    -moz-transform: translate(32px, 0px) scale(0);
    -ms-transform: translate(32px, 0px) scale(0);
    -o-transform: translate(32px, 0px) scale(0);
  }
}

.wrapper {
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 35px;
  margin-left: -30px;
}
.circle {
  display: inline-block;
  border-radius: 50%;
  animation: loading 1.5s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
  transform-origin: bottom center;
  position: relative;
  color: black;
  font-size: 28px;
  font-weight: 800;
  transition-property: color;
  transition: 0.2s all ease-in-out;
}
@keyframes loading {
  0% {
    transform: translateY(0px);
    color: #31326f;
  }
  50% {
    transform: translateY(50px);
    color: #ff4c60;
  }
  100% {
    transform: translateY(0px);
    color: #31326f;
  }
}
.circle-1 {
  animation-delay: 0.1s;
}
.circle-2 {
  animation-delay: 0.2s;
}
.circle-3 {
  animation-delay: 0.3s;
}
.circle-4 {
  animation-delay: 0.4s;
}
.circle-5 {
  animation-delay: 0.5s;
}
.circle-6 {
  animation-delay: 0.6s;
}
.circle-7 {
  animation-delay: 0.7s;
}
.circle-8 {
  animation-delay: 0.8s;
}

#preloader {
  background: #353353;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1031;
}

#preloader .outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#preloader.light {
  background: #f9f9ff;
}

.goo-outer {
  display: none;
}
/* =============================================
                Scrollbar Style
============================================= */
body::-webkit-scrollbar {
  width: 0.6em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #390077 0%, #c900d6 95%);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* =============================================
                Banner Section
============================================= */
.banner {
  background-color: #fdfbff;
  height: 100vh;
  position: relative;
}
.bnr-bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
/* =============================================
                Top Bar
============================================= */
.tpr {
  padding: 8px 0px;
}
.contact-p {
  font-size: 14px;
  font-weight: 500;
  font-family: "OpenSans", sans-serif;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0;
}
.contact-p-span {
  font-weight: 700;
}
.social-media {
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
/* =============================================
                Menu Bar
============================================= */
.menu-navbar {
  background-color: #f6f3ff;
}
.navbar-back .container {
  padding: 0 !important;
}
.navbar-back {
  padding: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* =============================================
            Banner Content Area
============================================= */
.content-body {
  position: relative;
}
.bnr-rw {
  min-height: 75vh;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.bnr-content {
  position: relative;
  padding: 40px;
  box-shadow: 0 0 12px 0px #efe5ff;
  border-radius: 10px;
}
.bn-title {
  color: var(--defaulth4);
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}
.bn-name {
  background: linear-gradient(to bottom, #390077 0%, #c900d6 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  transition-property: color;
  transition: 0.2s all ease-in-out;
  transform-origin: bottom center;
  position: relative;
}
.bnr-btns {
  margin-top: 25px;
}
.bnr-btns ul {
  display: flex;
  list-style: none;
}
.bnr-btns ul li {
  margin-right: 25px;
}
.btn-custom {
  display: inline-block;
  background: linear-gradient(to right, #390077 0%, #c900d6 51%, #390077 100%);
  color: #fff;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 38px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  background-size: 200% auto;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
}

.btn-custom:hover {
  background-position: right center;
  color: #fff;
}
/* =============================================
            Banner Content Scrool Icon
============================================= */
.scroll-icon {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translate(0%, 0%);
}
.scroll-icon .abt-me {
  text-decoration: none;
  color: #c900d6;
  /* box-shadow: 0 0 4px 0px #39007785; */
  padding: 15px 8px;
  border-radius: 15px;
  position: relative;
}
.scroll-icon .abt-me::before {
  text-decoration: none;
  position: absolute;
  content: "\f103";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  animation: loading_icon 3s linear infinite;
  -webkit-animation: loading_icon 1s linear infinite;
  top: 0;
  left: 3px;
  margin-top: 2px;
}
@keyframes loading_icon {
  0% {
    transform: translateY(0px);
    color: #861cff;
  }
  50% {
    transform: translateY(25px);
    color: #c900d6;
  }
  100% {
    transform: translateY(0px);
    color: #861cff;
  }
}
/* =============================================
                About Me Section
============================================= */
.abt{
  padding: 80px 0px;
  background: #fff;
}
.abt-img{
  text-align: center;
  margin: auto;
}
.abt-con{
  min-height: 300px;
  align-items: center;
  text-align: left;
}
.title{
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  font-variant: small-caps;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  color: #15002c;
}
.title::before{
  position: absolute;
  content: '';
  width: 10%;
  height: 4px;
  background: #390077;
  right: 48%;
  top: 52%;
  animation: abt_bar 3s linear infinite;
  -webkit-animation: abt_bar 3s linear infinite;
}
.title::after{
  position: absolute;
  content: '';
  width: 18%;
  height: 4px;
  background: #390077;
  right: 40%;
  bottom: 21%;
  animation: abt_bar 3s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
}
@keyframes abt_bar {
  0% {
    background: #24004e;
  }
  50% {
    background: #a800b4;
  }
  100% {
    background: #5e00c8;
  }
}
.desc{
  font-size: 18px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 500;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

/* =============================================
                Skills Section
============================================= */
.skills-body .title::before{
  background: transparent!important;
  width: 100%;
  height: 100%;
  content: 'my experience areas';
  font-size: 74px;
  top: 3%;
  font-family: 'OpenSans Bold',sans-serif;
}